@import "header.css";
*{
    box-sizing: border-box;
}

/* NAVIGATION FILTER START*/
.main-content{
    width: 1400px;
    background-color: #E4E5E7;
    box-shadow: white;
    padding-right: 115px;
    padding-left: 115px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 156px;
    
}
.main-content .sort{
    display: inline;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 11px;
    /* position: relative; */
    /* border: 1px double grey;  
    border-radius: 10px;
    padding: 25px; */
    
    
   
}
.main-content .sort-by{
     width: 237px;
     height: 57px;
    /* display: inline;     */
    /* position: absolute; */
    padding: 22px;
    color: #A1A8BD;
    background-color: white;
    float: left;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px 0 0 9px;
    border-right-style: solid;
    border-right-color: #F2F2F2;
    
}
.main-content .sort-by .select-1{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
    padding: 5px;
    background: url(../img/arrow.png) no-repeat 70%;
    padding-right: 42px;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

 .main-content .keywords{
    width: 696px;
    height: 57px;
     font-size: 11px;
    display: inline-block;
    /* position: absolute; */
    margin-left: 0; 
    padding: 12px;
    color: #A1A8BD;
    background-color: white;

}

.main-content .keywords .span-1{
    margin-left: 31px;
}
.main-content .keywords .span-2{
    margin-left: 31px;
}
.main-content .keywords .input-4{
    margin-left: 34px;
}
.main-content .keywords label{
    margin-right: 45px;
}

.main-content .keywords .input-1{
    width: 162px;
    height: 32px;
    border-radius: 25px;
    background: #F0F2F7;
    border: 1px solid #F0F2F7;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-content .keywords .input-2{
    width: 64px;
    height: 32px;
    border-radius: 25px;
    background: #F0F2F7;
    border: 1px solid #F0F2F7;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-content .keywords .input-3{
    width: 64px;
    height: 32px;
    border-radius: 25px;
    background: #F0F2F7;
    border: 1px solid #F0F2F7;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-content .ship-to{
    width: 237px;
    height: 57px;
    display: inline; 
    border-radius: 0 9px 9px 0; 
    padding: 25px;
    float: right;
    color: #A1A8BD;
    background-color: white;
    border-left-style: solid;
    border-left-color: #F2F2F2;
    
} 
.main-content .ship-to .span-3{
    margin-right: 23px;
}
.main-content .ship-to .select-2{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
    padding: 2px;
    background: url(../img/arrow.png) no-repeat 79%;
    padding-right: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

/* NAVIGATION FILTER END*/


/* DROPDOWN LIST START */
 
  ul { list-style-type: none; }
  
  a {
    color: #b63b4d;
    text-decoration: none;
  }
  
  /** =======================
   * Contenedor Principal
   ===========================*/
  
.accordion {
    padding: 0;
    margin-top: 30px;
    width: 270px;
    border: 1px solid #DFE4EE;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #343E5C;
    background-color: white;
}
  

  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 19px 19px 19px 19px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
 

  .accordion li i.fa-chevron-down {
    right: 12px;
    margin-left: 20px;
    font-size: 16px;
    
  }
  
  .accordion li.open .link { color: #343E5C; }
  
  .accordion li.open i { color: #b63b4d; }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  } 
  
  /**
   * Submenu
   -----------------------------*/
  
  
   .submenu {
    display: none;
    font-size: 14px;
    padding: 0;  
 }
 
  .submenu li { border-bottom: 1px solid #DFE4EE; 
    background-color: #F0F2F7;
}
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #A1A8BD;
    padding: 19px;
    padding-left: 19px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: #343E5C;
    color: #FFF;
  } 

/* DROPDOWN LIST END */


/* FILTER START */

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #CCCCCC; 
    float: left;
    margin-right: 14px;
}


.filter{
    font-size: 14px;
    display: block;
    width: 270px;
    padding: 0;
    margin-top: 30px;
    width: 270px;
    border: 1px solid #DFE4EE;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #343E5C;
    background-color: white;
}

.filter p{
    border-bottom: 1px solid #CCCCCC;
    padding: 19px 19px 19px 19px;
    margin: 0;

}
.filter .p1{
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.filter a{
    color: #2754EB;
    text-decoration: underline;
    margin-left: 142px;
}

.filter a:hover{
color: rgb(82, 109, 197);

}

.filter .container{
    display: block;
    padding: 0 0 13px 19px;
    padding-top: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    cursor: pointer;
    vertical-align:middle;
    margin-left: 0;
}


/* Style the indicator (dot/circle) */
.container .checkmark:after {
    position: relative;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00DEEA;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

.container input:checked .checkmark {
    background-color: #CCCCCC;
}

/* Checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-1 {
    vertical-align:middle;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 30%;
    border: 2px solid #CCCCCC; 
    float: left;
    margin-right: 14px;
}


/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark-1 {
    background-color: #00E2AA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark-1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* FILTER END */


